{% extends "store/base.html" %}

{% load static %}
{% load mathfilters %}

{% block content %}

<main class="pt-5">
    
    <div class="container">
      
      <h1 class="h5"> Shopping cart </h1>

      <hr>
      
      {% for item in cart %}
        {% with product=item.product %}
          <br>
          <div class="row mb-4 border product-item">
            <div class="col-md-3 col-lg-2 order-md-first bg-light product-image-container">
                {% if item.image_missing %}
                    <img class="img-fluid mx-auto d-block product-image" 
                         width="200px" 
                         alt="Product image not available" 
                         src="{% static 'images/no-image.png' %}"
                         loading="lazy">
                {% else %}
                    <img class="img-fluid mx-auto d-block product-image" 
                         width="200px" 
                         alt="{{ product.title }}" 
                         src="{{ product.image.url }}"
                         onerror="this.onerror=null; this.src='{% static 'images/no-image.png' %}'"
                         loading="lazy">
                {% endif %}
            </div>

            
            <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
              
              <a href="{{product.get_absolute_url}}" class="text-info text-decoration-none"> <!-- Product get absolute url -->
              
                <h1 class="h5 pt-2"> {{product.title}}<!-- Product title --> </h1>
              
              </a>
              
              <div class="border">
                
                <div class="col border-bottom">
                  
                    <div class="row p-3">
                  
                    <div class="col-6"> Product </div>
                  
                    <div class="col-6 text-end"><span class="h6 fw-bold">$ {{product.price|mul:item.qty}} </span></div>
                
                  </div>
                
                </div>
                
                <div class="col">
                  
                  <div class="row p-3">
                    
                    <div class="col-12">
                      
                      <label for="select">Qty</label>
                      &nbsp; 
                      <input type="number" id="select{{product.id}}" class="form-control d-inline-block" 
                             style="width: 80px;" min="1" max="99" value="{{item.qty}}"
                             oninput="this.value = this.value > 99 ? 99 : Math.abs(this.value)">
                      
                      <br> <br>

                      <button type="button" data-index="{{product.id}}"
                        class="btn btn-primary btn-sm update-button">
                        Update
                      </button>
                      
                      &nbsp;

                      <button type="button" data-index="{{product.id}}"
                        class="btn btn-danger btn-sm delete-button">
                        Delete
        
                      </button>
        

                    </div>
        
                </div>
        
                </div>
        
              </div>
        
            </div>
      
        </div>
        {% endwith %}
      {% endfor %}

      <div class="col-12 text-end">
 
        <div class="h6 fw-bold"> Total price: $ <div id="total" class="d-inline-flex"> {{cart.get_total}} </div></div>

        <br>

        {% if cart.get_total > 0 %}
            <a href="{% url 'checkout' %}" class="btn btn-primary my-2">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Proceed to checkout
            </a>
        {% else %}
            <button class="btn btn-primary my-2" disabled>
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Proceed to checkout
            </button>
            <p class="text-muted">Your cart is empty. Add items to proceed with checkout.</p>
        {% endif %}
        
      </div>

    </div>
  
    <br>

    <br>

 </main>

 <script>

  // Delete button

    $(document).on('click', '.delete-button', function(e){

      e.preventDefault();

      $.ajax({

          type: 'POST',
          url: '{% url "cart-delete" %}',
          data: {

              product_id: $(this).data('index'),
              csrfmiddlewaretoken: "{{csrf_token}}",
              action: 'post'

          },

          success: function(json){

              //console.log(json)

              location.reload();
              

              document.getElementById("cart-qty").textContent = json.qty

              document.getElementById("total").textContent = json.total


          },

          error: function(xhr, errmsg, err){


          }

      });


  })

  // Update button

  $(document).on('click', '.update-button', function(e){

    e.preventDefault();

    var theproductid = $(this).data('index');

    $.ajax({

        type: 'POST',
        url: '{% url "cart-update" %}',
        data: {

            product_id: $(this).data('index'),
            product_quantity: $('#select' + theproductid).val(),
            csrfmiddlewaretoken: "{{csrf_token}}",
            action: 'post'

        },

        success: function(json){

            //console.log(json)

            location.reload();
            

            document.getElementById("cart-qty").textContent = json.qty

            document.getElementById("total").textContent = json.total


        },

        error: function(xhr, errmsg, err){


        }

    });


})





 </script>


{% endblock %}
